:root {
    --clr-primary-normal: hsl(185, 75%, 39%);
    --clr-primary-dark:  hsl(229, 23%, 23%);
    --clr-primary-gray: hsl(227, 10%, 46%);
    --clr-neutral: hsl(0, 0%, 59%);
    --ff-primary: "Kumbh Sans", sans-serif;
}