$font-overpass: 'Overpass', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;

$clr-primary: hsl(356, 100%, 66%);
$clr-primary-light: hsl(355, 100%, 74%);
$clr-secondary: hsl(208, 49%, 24%);
$clr-white: white;
$clr-neutral-light: hsl(240, 2%, 79%);
$clr-neutral: hsl(207, 13%, 24%);
$clr-neutral-dark: hsl(240, 10%, 16%);

$gradient-red: linear-gradient(45deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$gradient-blue: linear-gradient(45deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));