$primary: hsl(237, 18%, 59%);
$highlight: hsl(345, 95%, 68%);
$neutral-100: hsl(0, 0%, 100%);
$neutral-500: hsl(236, 21%, 26%);
$neutral-700: hsl(235, 16%, 14%);
$neutral-900: hsl(234, 17%, 12%);

$base-font-size: 14px;
$font-family: 'Red Hat Text', sans-serif;