@import './variables';
@import './reset';

// Globals

* {
    font-family: $font-family;
    line-height: 1.5;
}

body {
    background: $neutral-100;
    font-size: $font-base;
    display: grid;
    place-items: center;
    min-height: 100vh;

    @media screen and (max-width:1100px) {
        padding: 4em 2em;
    }
}

// Helper Classes

.bg-primary-900 {
    background: $primary-900;
}

.bg-primary-700 {
    background: $primary-700;
}

.bg-primary-500 {
    background: $primary-500;
}

.bg-primary-100 {
    background: $primary-100;
}

.text-white {
    color: white;
}

.text-dark {
    color: $primary-900;
}

// Styles

.grid {
    max-width: 1100px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    transition-delay: 0.5s;

    @media screen and (max-width: 1100px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;

        .card {
            grid-column-end: 2;
        }
    }
}

.card {
    padding: 2em;
    border-radius: 1em;
    height: 100%;
    display:grid;
    align-content: space-between;
    box-shadow: 1em 1em 2em rgba(black, 0.15);
    transition: 300ms ease-in-out all;

    &:hover {
        opacity: 0.9;
        transform: translateY(-5px);
        box-shadow: 1em 1em 3em rgba(black, 0.3);
    }

    &.featured {
        background-image: url('../images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position-x: 75%;
        background-size: 150px;

        @media screen and (max-width: 768px) {
            background-size: 100px;
        }
    }

    &--author {
        display:grid;
        grid-auto-flow: column;
        grid-template-columns: auto 1fr;
        column-gap: 1em;
        row-gap: 0;
        justify-content: center;

        &_image {
            grid-row-end: span 2;
            border-radius:50%;
            border: 2px solid rgba(white, 0.5);
            height: 3em;
        }

        &_name {
            align-self: end;
        }

        &_title {
            opacity: 0.5;
        }
    }

    &--lead {
        font-size: 1.5em;
        font-weight: bold;
        margin: 1em 0;
    }

    &--quote {
        opacity: 0.7;
    }

}

.span-cols-2 {
    grid-column-end: span 2;
}

.span-rows-2 {
    grid-row-end: span 2;
}

// Transition
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }